<mat-toolbar color="primary" class="wrapper">
    <mat-toobar-row fxLayout="row">
        <span class="title-center">Forgot Password</span>
    </mat-toobar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup]="forgotPassword">
        <div fxFlex fxLayout="column">
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="email" required email>
                <mat-error *ngIf="forgotPassword.controls['email'].hasError('required')">Please enter yore register email.</mat-error>
                <mat-error *ngIf="forgotPassword.controls['email'].hasError('pattern')">This field is invalid.</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handelSubmit()" [disabled]="!(forgotPassword.valid && forgotPassword.dirty)">Send Password</button>
    <button mat-raised-button color="primary" mat-dialog-close >Close</button>
</mat-dialog-actions>